<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="com.ibm.wsspi.extension.applicationserver-startup">
        <components>
            <component startup="5000"
                       class="com.googlecode.xm4was.websvc.Component"
                       processType="Servant"
                       component-id="XM_WebSvcComponent"
                       startup-mode="immediate"/>
        </components>
    </extension>

	<!-- TODO: Probably we should use the custom-handler-(client|server) extension points -->
	
   	<extension id="XM4WAS-Server" name="XM4WAS Module (server-side)" point="com.ibm.wsfp.main.ibmaxis2-qos-module-server">
    	<filename>META-INF/xm4was-server-module.xml</filename>
       	<global>true</global>
   	</extension>

   	<extension id="XM4WAS-Client" name="XM4WAS Module (client-side)" point="com.ibm.wsfp.main.ibmaxis2-qos-module-client">
       	<filename>META-INF/xm4was-client-module.xml</filename>
       	<global>true</global>
   	</extension>
</plugin>
