<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="com.ibm.wsspi.extension.server-startup">
        <components>
            <component startup="5000"
                       class="com.googlecode.xm4was.jmx.jrmp.JmxConnector"
                       processType="Servant"
                       component-id="XM_JmxConnector"
                       startup-mode="immediate">
                <dependency type="service" name="com.ibm.ws.runtime.service.EndPointMgr"/>
                <dependency type="service" name="com.ibm.ws.security.service.SecurityService"/>
            </component>
        </components>
    </extension>
    <extension point="com.ibm.wsspi.extension.server-startup">
        <components>
            <component startup="5000"
                       class="com.googlecode.xm4was.jmx.mxbeans.PlatformMXBeansRegistrant"
                       processType="Servant"
                       component-id="XM_PlatformMXBeansRegistrant"
                       startup-mode="immediate">
                <dependency type="service" name="com.ibm.websphere.management.authorizer.service.AdminAuthzService"/>
            </component>
        </components>
    </extension>
</plugin>
