<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test-war</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BMTTestServlet</display-name>
    <servlet-name>BMTTestServlet</servlet-name>
    <servlet-class>test.BMTTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BMTTestServlet</servlet-name>
    <url-pattern>/bmt</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>test.TestServletContextListener</listener-class>
  </listener>
  <filter>
    <display-name>TestFilter</display-name>
    <filter-name>TestFilter</filter-name>
    <filter-class>test.TestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <url-pattern>/test.html</url-pattern>
  </filter-mapping>
</web-app>