<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="com.ibm.wsspi.extension.applicationserver-startup">
        <components>
            <component startup="5000"
                       class="com.googlecode.xm4was.clmon.ClassLoaderMonitor"
                       processType="Servant"
                       component-id="XM_ClassLoaderMonitor"
                       startup-mode="immediate">
                <dependency type="service" name="com.ibm.ws.runtime.service.ApplicationMgr"/>
            </component>
        </components>
    </extension>
    <extension point="com.ibm.wsspi.extension.mbean-provider"/>
</plugin>
